.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
}
.form {
  width: auto;
}
.button {
  height: 34px;
}
.buttonLabel {
}
.input {
  height: 30px;
  width: 200px;
}
